html{
  background-color: #f0f2f1;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Sans-serif;;
}

.main-container{
  display: flex;
  width: 100%;
}

.span-input{
  color: #666;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 13px;
}

.error{
  color: red;
  font-size: 12px;
  font-weight: bold;
}

input[ type=number ]::-webkit-inner-spin-button,
input[ type=number ]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  appearance: none;
}

/* select{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appereance: none;
  color: grey;
} */


select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border: 0;
    background: white;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:black;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
 }

 select::-ms-expand {
    display: none;
 }

 .select-container {
    position: relative;
    display: flex;
    line-height: 3;
    overflow: hidden;
 }

 .select-container::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
    font-size: 12px;
    padding-top: 4px;
 }




.select-option{
  color: black;
}

.selected{
  color: black;
}

.image-container{
  width: 35%;
  height: 100vh;
}

.image{
  width: 35%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7) url(../img/form.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  position: fixed;
}


.form-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-finlatina{
  width: 160px;
  height: 40px;
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 40px;
  margin-top: 28px;
}

.titulo{
  text-align: center;
}

.titulo-main {
  background: #cc0033;
  color: white;
  border-radius: 5px;
  padding: 2px 26px;
  margin-bottom: 28px;
  margin-top: 28px;
}

.titulo-confirm{
  margin-top: 12px;
  margin-bottom: 14px;
}

.input-data{
  outline: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  height: 35px;
  margin-top: 5px;
  padding: 0px 10px;
  /* font-weight: 100; */
  font-size: 16px;
  background-color: white;
}

.form-container-flex{
  width: 50%;
  /* margin-bottom: 80px; */
}

.button{
  border: none;
  color: white;
  padding: 14px 20px;
  border-radius: 8px;
  font-weight: 500;
}

.circular-button{
  border: none;
  color: white;
  background-color: #CC0033;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-weight: 500;
  font-size: 28px;
  display: none;
  margin-top: 16px;
}

.circular-button-delete{
  border: none;
  color: white;
  background-color: #CC0033;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-weight: 500;
  font-size: 28px;
  display: none;
  margin-top: 16px;
}

.circular-button-container{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.circular-button:hover{
  cursor: pointer;
}

.button-container{
  width: 50%;
  margin-top: 28px;
  position: relative;
  height: 40px;
}

.button-confirm{
  display: none;
  position: absolute;
  background-color: #cc0033;
  right: 0;
}

.button-volver{
  display: none;
  background-color: white;
  color: #cc0033;
}

.button-atras{
  background-color: white;
  color: #cc0033;
}

.button-siguiente{
  position: absolute;
  background-color: #cc0033;
  right: 0;
}

/* .form-1{
  display: none;
} */

.confirm-container{
  display: none;
  /* margin-bottom: 80px; */
}

.form-2, .form-3, .form-4, .form-5, .form-6{
  display: none;
}

.err-space{
  margin-bottom: 8px;
  padding-left: 4px;
}

/*------------------- progress step ------------------------*/
.container-progress{
  width: 80%;
  margin-bottom: 48px;
}

.progress-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.progress-step {
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 8px;
  color: #cc0033;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  transition: 0.5s ease;
}

.step-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  height: 80px;
  text-align: center;
  gap: 8px;
}

.info-step{
  font-size: 13px;
  color: #a1a5b7;
}

.step-active{
  background-color:#cc0033;
  color: white;
}



.button-disabled{
  /* agregar validando si el formulario esta completo de click */
  background-color: #e3e3e3;
  color: white;
}


.button:hover{
  cursor: pointer;
}


/*---------pep text---------*/

.text-pep{
  /* color: #666; */
  font-size: 18px;
}

.input-radio-config{
  margin-top: 16px;
  margin-bottom: 12px;
}

.input-pep1, .input-pep2{
  display: none;
}

.numero-familia{
  margin-top: 12px;
  margin-bottom: 8px;
}

/*-----------form-5 cards-----------*/


.navbar-fotos{
  display: flex;
  justify-content: flex-start;
  margin-top: 12px;
}

.ventana{
  background-color: #f5f8fa;
  padding: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-left: 8px;
}


.ventana-activa{
  background-color: #CC0033;
  color: white;
}


.ventana:hover{
  cursor: pointer;
}

/* .fotos{
  display: none;
} */

.boletas{
  display: none;
}

.documento-domicilio{
  display: none;
}


.seccion-fotos:hover{
  cursor: pointer;
}

.card{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f5f8fa;
  border-radius: 8px;
  box-shadow: 0 1px 8px rgb(22 22 22 / 10%);
  padding: 8px;
  gap: 6px;
  /* margin-top: 12px; */
}

.no-image{
  width: 80px;
  height: 80px;
}


.delete-image{
  width: 30px;
  height: 30px;
}


/*---------lienzos-----------*/
.lienzo{
  display: none;
  width: 400px;
  height: 300px;
  border-radius: 8px;
}

.text-card{
  width: 130px;
}

/*-----------video------------*/
.video-container{
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video{
  /* width: 100%; */
  height: 100%;
  border-radius: 8px;
}

/*-------Loader------------*/
.loader{
  display: none;
  width: 40px;
  height: 40px;
  border: #CC0033 solid 4px;
  border-bottom: transparent solid 4px;
  border-radius: 50%;
  animation: loader 1s linear infinite;
  z-index: 1;
}

@keyframes loader{
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(360deg);
  }
}

.button-foto{
  width: 100%;
  background-color: #cc0033;
  margin-top: 8px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  margin-top: 12px;
}


.select-foto{
  color: black;
  text-align: center;
}

/*---------Progress Responsive-------*/

.container-responsive{
  width: 100%;
  display: none;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
}

.progress-bar-responsive{
  position: relative;
  width: 100%;
  height: 0.8rem;
  background-color: white;
  margin: auto;
  display: flex;
  align-items: center;
}


.progress-responsive{
  background-color: #CC0033;
  position: absolute;
  width: 10%;
  height: 80%;
}

.progress-value{
  display: none;
  z-index: 10;
  font-size: 30px;
  font-weight: 600;
  color: #cc0033;
}

.responsive-step{
  margin-top: 12px;
  font-size: 18px;
  color: #a1a5b7;
  display: none;
}


.confirm-container{
  width: 50%;
}

.info-text{
  color: #666;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 13px;
}

.pep-confirm{
  display: none;
}

.pep-fam-confirm{
  display: none;
}

.pep-1{
  margin-bottom: 60px;
}


.datos-confirmados{
  display: none;
}

.card-confirm{
  background-color: #f5f8fa;
  border-radius: 8px;
  box-shadow: 0 1px 8px rgb(22 22 22 / 10%);
  padding: 8px;
}

footer{
  height: 150px;
}

.button-siguiente{
  border: none;
  color: white;
  padding: 14px 0px;
  border-radius: 8px;
  font-weight: 500;
}


.button-confirm{
  border: none;
  color: white;
  padding: 14px 0px;
  border-radius: 8px;
  font-weight: 500;
}

.link{
  height: 40px;
  color: white;
  text-decoration: none;
  padding: 14px 20px;
}

.link-confirm{
  height: 40px;
  color: white;
  text-decoration: none;
  padding: 14px 20px;
}


.link-disabled{
  pointer-events: none;
}

/* .span-fecha{
  display: block;
} */

.ejemplo-select{
  color: grey;
}


/*----------------fecha----------------*/

.option-invalid{
  color: grey;
}

.fecha {
  width: 33%;
}


.fecha-container{
  display: flex;
  justify-content: space-between;
}



/*-----------------------------------------*/
.flex-container {
  display: flex;
  justify-content: space-between;
}


.calle {
  width: 49%;
}



/*--------------------Drag and drop------------------------------*/

.drop-area{
  border: 2px dashed #CC0033;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.drop-area.active{
  background-color: rgba(204, 0, 51, 0.2);
}

.drop-area button{
  padding: 10px 25px;
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  background-color: #CC0033;
  margin-top: 12px;
  border-radius: 8px;
}


.drop-area button:hover{
  cursor: pointer;
}


.file-container{
  display: flex;
  align-items: center;
  padding: 10px;
  border: solid 1px #a1a5b7;
}


.lista-boletas{
  display: none;
}


.button-red{
  background-color: #cc0033;
  border: none;
  color: white;
  padding: 14px 20px;
  border-radius: 8px;
  font-weight: 500;
}


.button-red:hover{
  cursor: pointer;
}


.asalariado-volver-contenedor, .comerciante-volver-contenedor{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 8px;
}


.parrafo{
  width: 100%;
  text-align: justify;
  margin: 12px 0;
}


.container-clickable{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  margin: 12px 0;
  border-radius: 12px;
  border: 2px dashed #CC0033;
}

.clickable-option{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.red-text{
  color: #CC0033;
}


.red-text:hover{
  cursor: pointer;
}


.img-camara{
  display: none;
  width: 100%;
  height: 150px;
  border-radius: 12px;
  margin: 12px 0;
}

.selfie-container{
  margin: 12px auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}


.img-selfie{
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.container-img-nombre{
  display: flex;
}

.button-camera{
  width: 30%;
}

.button-camera-pc{
  width: 30%;
}

.foto-descripcion{
  width: 70%;
}

.foto-descripcion-pc{
  width: 70%;
}

.foto-frontal-confirm, .foto-trasera-confirm, .selfie-confirm, .domicilio{
  width: 70%;
  border-radius: 8px;
}


.modal{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
}

.modal--show{
  opacity: 1;
  pointer-events: unset;
}


.modal__container{
  position: relative;
  margin: auto;
  width: 90%;
  background-color: white;
  max-height: 90%;
  max-width: 800px;
  border-radius: 6px;
  padding: 6em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
}

.mobile-form{
  display: none;
}

.pc-form{
  display: block;
}


.button-container-modal{
  display: none;
  width: 80%;
  justify-content: space-around;
}


.img-close-modal{
  position: absolute;
  right: 0;
  top: 0;
}

.material-symbols-outlined {
  color: red;
  font-size: 36px !important;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined:hover{
  cursor: pointer;
}